body {
	background: #333;
	color: #f1f1f1;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wrap{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.ad, #ad{
	width: 960px;
	height: 500px;
	position: relative;
	margin: 5% auto 0 15%;
	background: url("../img/2nd-option.jpg") no-repeat top left;
	background-size: cover;
	-webkit-background-size: cover;
	border-radius: 10px;
	-webkit-box-shadow: 0px 10px 50px #222;
	box-shadow: 0px 10px 50px #222;
	z-index: 9;
}
.ads{
	position: absolute;
	overflow: hidden;
	width: 150px;
	height: 100px;
	top: 140px;
	left: 180px;
	background: #bbb;
	border: 5px solid #333;
	transform: matrix3d(0.863171016260753, -0.21173699223135, 0, -0.00065917610248615, -0.0223292475710531, 0.907816707088604, 0, -0.000222562702412245, 0, 0, 1, 0, -7, 21, 0, 1);
	transform-origin: 0px 0px 0px;
	-webkit-transform: matrix3d(0.863171016260753, -0.21173699223135, 0, -0.00065917610248615, -0.0223292475710531, 0.907816707088604, 0, -0.000222562702412245, 0, 0, 1, 0, -7, 21, 0, 1);
	-webkit-transform-origin: 0px 0px 0px;
	pointer-events: auto;
}
.links{
	position: relative;
	width: 30%;
	height: 100px;
	margin: 20px auto 0 auto;
}
.links a{
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	text-shadow: 2px 2px 1px #000;
	text-transform: uppercase;
	font-weight: bold;
}
