body {
	background: #333;
	color: #f1f1f1;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wrap{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.ad, #ad{
	width: 960px;
	height: 500px;
	position: relative;
	margin: 5% auto 0 15%;
	background: url("../img/1st-option.jpg") no-repeat top left;
	border-radius: 10px;
	-webkit-box-shadow: 0px 10px 50px #222;
	box-shadow: 0px 10px 50px #222;
	z-index: 9;
}
.ads{
	position: absolute;
	overflow: hidden;
	width: 300px;
	height: 150px;
	top: 150px;
	left: 315px;
	background: #bbb;
	border: 5px solid #333;
}
.links{
	position: relative;
	width: 30%;
	height: 100px;
	margin: 20px auto 0 auto;
}
.links a{
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	text-shadow: 2px 2px 1px #000;
	text-transform: uppercase;
	font-weight: bold;
}
